body{
    background-color:black;
    background-image: url(image.jpeg);
    text-align: center;
    width: auto;
}

h1{
    background-color: bisque;
    padding: 5px;    
    width: auto;
    margin: 10px;
}

.geral{
    background-color: rgba(74, 74, 159, 0.409);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    height: auto;
    width: auto;
    margin-inline: auto;
    
}


td{
    width: 38px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 5px;
    margin: 5px;
    background-color: white;
}

h3{
    padding: 5px;
    background-color: bisque;    
    width: auto;
    margin: 10px;
}

table{
    margin-inline: auto;
}

#entradaVirolas{
    margin: 5px;
}

#botaoDados{
    margin: 10px;
}
